.board {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    table-layout: fixed;
    margin: 0 auto;
}

.board td {
    border: 2px solid lightgrey;
}

.board {
    border-style: hidden;
}

/* TODO: to cell */
.board td {
    position: relative;
}

.board .board-cell.loser {
    filter: grayscale(100%);
}

.board td:after {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 100%;
}

/* TODO: to icon */
.board-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6.5vw;
}

@media (min-width: 500px) {
    .board-icon {
        font-size: 40px;
    }
}
